.mobile-tabber {
    display: none;
    @media (max-width: 551px) {
        display: flex;
    }
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    z-index: 9;

    a {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

body.hide-feed {
    .shadow-provider,
    .sidebar {
        opacity: 0;
        pointer-events: none;
    }
    .sub-header {
        @extend %sub-header-visible;
    }
}