@import '../node_modules/skeleton-sass-official/skeleton/core/config';
 
// import theme, overrides, and extras
@import "../node_modules/skeleton-sass-official/skeleton/themes/fresh/vars";
@import "../node_modules/skeleton-sass-official/skeleton/themes/fresh/include_components";
@import "../node_modules/skeleton-sass-official/skeleton/themes/fresh/grid";

@import url('https://fonts.googleapis.com/css?family=Calistoga|Inconsolata:400,700&display=fallback');

:root {
    --colour: #CD0000;
}

html, body {
    background: white;
    margin: 10px 20px;
    @extend .sans;
}

body {
    margin: 10px 0px;
}

.header {

    width: calc(100% + 13vw);
    max-width: 80vw;
    margin-bottom: 40px;

    a {
        background: rgba(255,255,255,0.75);
        padding: .25px 5px;
        margin: 2.5px 0 2.5px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
    }

    .profile-pic {
        width: 24px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 4px;
    }
}

.sub-header {
    display: none;
    @media (min-width: 550px) { display: block; }
    position: fixed;
    top: 40px;
    right: 40px;
    text-align: right;
    z-index: 9;
    transition: all .5s;
    transform: translateY(-140px);
    background: rgba(#ffffff, 0);
    box-shadow: -20px 20px 10px 10px rgba(#ffffff, 0);
    &.visible { 
        transform: translateY(0px);
        opacity: .85;
        background: rgba(#ffffff, .5);
        box-shadow: 0px 0px 100px 100px rgba(#ffffff, .5);
        a {
            top: 0px;
        }
     }
     a {
        position: relative;
        top: 20px;
        background: rgba(255,255,255,0.75);
        padding: 10px 20px;
        transition: all .25s;
     }
}

.more-maps {

    // disable this feature until the future.
    display: none;

    .more-map-link {
        transition: opacity .33s;
        opacity: 0;
        pointer-events: none;
    }
    &:hover .more-map-link {
        opacity: 1;
        pointer-events: all;
    }
}

.shadow-provider {
    position: fixed;
    top: -50vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200vh;
    width: 200%;
    box-shadow: inset 200px -20px 500px 250px rgba(255, 255, 255, 0.85);
    pointer-events: none;
}

a { 
    color: var(--color, #CD0000); 
    text-decoration: none;
    
    &:hover, &:active, &:visited {
        color: var(--color, #CD0000) !important;
    }
}

.link {
    position: relative;
    margin: 0;
    padding: 7.25px 0;
    min-height: 200px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(#222222,0.05);
    transition: background 0.33s;
    cursor: pointer;

    .tweet {
        @media (min-width: 550px) {
            pointer-events: none;
        }
    }
    
    a {
        &:hover, &:active, &:visited {
            color: #CD0000;
            text-decoration: underline;
        }
        text-decoration: none;
    }

    &:hover, &.focused {
        a { color: #CD0000; }
        color: #CD0000;
        background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0));
        time { opacity: 1; }
    }

    &.focused {
        background: linear-gradient(to right, rgba(#CD0000,0.1), rgba(#CD0000,0));
        .tweet { pointer-events: all; }
    }

    time {
        @media (min-width: 550px) {
            position: absolute;
            top: calc(50% - .5em);
            line-height: 1em;
            left: -40px;
            opacity: 0.5;
            transition: opacity;
        }
    }

}

.mobile-only {
    @media (min-width: 550px) { display: none; }
}

.no-break { 
    @media (min-width: 550px) {
        white-space: nowrap; 
    }
}
.no-click { pointer-events: none; }
.all-click { pointer-events: all; }

.map {
    display: none;
    @media (min-width: 550px) { display: block; }

    overscroll-behavior-y: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100vh;
    width: 100%;

    // reposition the bundled OpenLayers elements to better work with Socialiski
    .ol-control {
        position: absolute;
    }

    .ol-zoom {
        top: initial !important;
        right: 20px !important;
        bottom: 40px !important;
        left: auto !important;
    }

    .ol-attribution {
        position: fixed;
    }

}

.text-center {
    text-align: center;
}

.z-one {
    position: relative;
    z-index: 1;
}

.serif {
    font-family: 'Calistoga', sans-serif;
}
.sans {
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 { 
    @extend .sans;
    line-height: .9;
    small { font-size: 0.5em; } 
}

.page {
    max-width: 60rem;
    margin: 40px auto 80px;
    h1, h2, h3, h4, h5, h6 { 
        @extend .serif;
        small { font-size: 0.5em; } 
    }   
    nav {
        margin-bottom: 20px;
    }
}

.sidebar {

    //border-left: 5px solid #222222;
    min-height: 100%;

    > * {
        padding-left: 15px;
    }

    #sidebar-stories {

        @media (max-width: 551px) {
            pointer-events: none;
        }

        position: relative;

        padding-left: 0;
        > * {
            padding-left: 15px;
        }
    }

    .skeleton-tweets {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 15px);
        pointer-events: none;
    }

    .skeleton-tweet {
            position: relative;
            margin-bottom: 25px;
            padding: 0;
            border-radius: 7px;
            display: block;
            width: 100%;
            height: 325px;
            background: rgba(#ffffff, 1);
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            transition: opacity 0.33s;
            @keyframes pulse {
                from { 
                    opacity: 0.25;
                    border-radius: 7px;
                 }
                to { 
                    opacity: 0.45;
                    border-radius: 3px;
                 }
            }

            &.hidden {
                animation-name: fadeAway;
                animation-duration: .66s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-direction: normal;
                @keyframes fadeAway {
                    0% {}
                    99% {opacity: 0}
                    100% {opacity: 0;}
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 65px;
                left: 10%;
                width: 80%;
                height: 30px;
                border-radius: 3px;
                background: rgba(#222222, .15);
                color: rgba(#222222, .15);
                box-shadow: 0 40px, 0 80px, 0 120px, 0 160px;
            }

    }

    .star {

        fill: var(--color, #CD0000);
        stroke: var(--color, #CD0000);

        animation-name: spin;
        animation-duration: 2s;
        
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(#{(360 * 5)}deg);
            }
        }
        
    }
}

@import './modules/popup';
@import './modules/loader-bg';
@import './modules/pages';